@page
@model OnSite.Pages.ManageVisits.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.SignInTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.SignInTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.SignOutTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.SignOutTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.VehicleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.VehicleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.ApprovalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.ApprovalStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Area)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Area.Classification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Badge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Badge.BadgeType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.SignedInBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.SignedInBy.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Site)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Site.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.StaffEscort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.StaffEscort.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.UnescortedApprovedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.UnescortedApprovedBy.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visit.Visitor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visit.Visitor.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Visit.VisitId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
